<?php
$GLOBALS['config'] = array(
    'global' => array(
        'debug' => false,
        'logDir' => $_SERVER['DOCUMENT_ROOT'] . '../log/'
    ),
    'bookstack' => array(
        'apiRateLimit' => '180',
        'baseUri' => '<APP_URL from .env>',
        'ignorCertificate' => true,
        'api' => array(
            'id' => '<API-Token-Id>',
            'secret' => '<API-Token-Secret>'
        ),
        'permission' => array(
            'tag' => 'prem',
            'entrySeperator' => '|',
            'permissionIdentifier' => '=',
            'ignoreFallbackTag' => 'igf'
        )
    )
);
?>